* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    padding: 1rem 3rem 0 3rem;
}

.header-container {
    margin-bottom: 1rem;
}

.select-loc-container {
    margin-bottom: 1rem;
}


/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}